In [1]:
!pip install -q -U watermark

In [2]:
pip install jupysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: jupysql in c:\users\victo\appdata\roaming\python\python312\site-packages (0.10.17)
Requirement already satisfied: prettytable>=3.12.0 in c:\users\victo\appdata\roaming\python\python312\site-packages (from jupysql) (3.12.0)
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (from jupysql) (2.0.34)
Requirement already satisfied: sqlparse in c:\users\victo\appdata\roaming\python\python312\site-packages (from jupysql) (0.5.3)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\programdata\anaconda3\lib\site-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in c:\programdata\anaconda3\lib\site-packages (from jupysql) (3.1.4)
Requirement already satisfied: sqlglot>=11.3.7 in c:\users\victo\appdata\roaming\python\python312\site-packages (from jupysql) (26.1.3)
Requirement already satisfied: jupysql-plugin>=0.4.2 in c:\users\victo\appdata\roaming\python\python312\site-packages (from jupysql) (0.4.5)
Requirement already satisfied: ploomber-core>=0.2.7 in c:\users\victo\appdata\roaming\python\python312\site-packages (from jupysql) (0.2.26)
Requirement already satisfied: pyyaml in c:\programdata\anaconda3\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (6.0.1)
Requirement already satisfied: posthog in c:\users\victo\appdata\roaming\python\python312\site-packages (from ploomber-core>=0.2.7->jupysql) (3.8.3)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prettytable>=3.12.0->jupysql) (0.2.5)
Requirement already satisfied: MarkupSafe>=2.0 in c:\programdata\anaconda3\lib\site-packages (from jinja2->jupysql) (2.1.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy->jupysql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy->jupysql) (3.0.1)
Requirement already satisfied: requests<3.0,>=2.7 in c:\programdata\anaconda3\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.32.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Requirement already satisfied: monotonic>=1.5 in c:\users\victo\appdata\roaming\python\python312\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.6)
Requirement already satisfied: backoff>=1.10.0 in c:\users\victo\appdata\roaming\python\python312\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: python-dateutil>2.1 in c:\programdata\anaconda3\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.9.0.post0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2024.8.30)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import os
import pandas as pd
import sqlite3

In [4]:
arquivo_path = 'dsadatabase.db'

In [6]:
if os.path.exists(arquivo_path):
    try:
        os.remove(arquivo_path)
        print(f"Arquivo {arquivo_path} deletado com sucesso!")
    except Exception as e:
        print(f"Erro ao deletar o arquivo {arquivo_path}. Detalhes: {e}")
else:
    print(f"Arquivo {arquivo_path} n√£o encontrado.")

Arquivo dsadatabase.db deletado com sucesso!

In [7]:
cnn = sqlite3.connect('dsadatabase.db')

In [8]:
df = pd.read_csv('dataset.csv')

In [9]:
df.to_sql('diabetes',cnn)

768

In [10]:
%load_ext sql

In [11]:
%sql sqlite:///dsadatabase.db

Connecting to 'sqlite:///dsadatabase.db'

In [12]:
%%sql
SELECT * FROM diabetes

Running query in 'sqlite:///dsadatabase.db'

+-------+-------------+---------+---------------+---------------+---------+------+--------------------------+-----+---------+
| index | Pregnancies | Glucose | BloodPressure | SkinThickness | Insulin | BMI  | DiabetesPedigreeFunction | Age | Outcome |
+-------+-------------+---------+---------------+---------------+---------+------+--------------------------+-----+---------+
|   0   |      1      |   103   |       30      |       38      |    83   | 43.3 |          0.183           |  33 |    0    |
|   1   |      1      |   115   |       70      |       30      |    96   | 34.6 |          0.529           |  32 |    1    |
|   2   |      3      |   126   |       88      |       41      |   235   | 39.3 |          0.704           |  27 |    0    |
|   3   |      8      |    99   |       84      |       0       |    0    | 35.4 |          0.388           |  50 |    0    |
|   4   |      7      |   196   |       90      |       0       |    0    | 39.8 |          0.451           |  41 |    1    |
|   5   |      6      |   148   |       72      |       35      |    0    | 33.6 |          0.627           |  50 |    1    |
|   6   |      1      |    85   |       66      |       29      |    0    | 26.6 |          0.351           |  31 |    0    |
|   7   |      8      |   183   |       64      |       0       |    0    | 23.3 |          0.672           |  32 |    1    |
|   8   |      1      |    89   |       66      |       23      |    94   | 28.1 |          0.167           |  21 |    0    |
|   9   |      0      |   137   |       40      |       35      |   168   | 43.1 |          2.288           |  33 |    1    |
+-------+-------------+---------+---------------+---------------+---------+------+--------------------------+-----+---------+
Truncated to displaylimit of 10.

In [13]:
%%sql
SELECT Age, Glucose, Outcome FROM diabetes WHERE Glucose > 195;

Running query in 'sqlite:///dsadatabase.db'

+-----+---------+---------+
| Age | Glucose | Outcome |
+-----+---------+---------+
|  41 |   196   |    1    |
|  53 |   197   |    1    |
|  57 |   196   |    1    |
|  31 |   197   |    0    |
|  29 |   196   |    1    |
|  39 |   197   |    1    |
|  28 |   198   |    1    |
|  62 |   197   |    1    |
|  22 |   199   |    1    |
+-----+---------+---------+

In [14]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [15]:
%%sql

CREATE TABLE pacientes (Pregnancies INT,
                        Glucose INT,
                        BloodPressure INT,
                        SkinThickness INT,
                        Insulin INT,
                        BMI DECIMAL(8, 2),
                        DiabetesPedigreeFunction DECIMAL(8, 2),
                        Age INT,
                        Outcome INT);

Running query in 'sqlite:///dsadatabase.db'

++
||
++
++

In [17]:
%%sql
INSERT INTO pacientes(Pregnancies, 
                      Glucose, 
                      BloodPressure, 
                      SkinThickness, 
                      Insulin, 
                      BMI, 
                      DiabetesPedigreeFunction, 
                      Age, 
                      Outcome) 
SELECT Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome 
FROM diabetes WHERE Age > 50;

Running query in 'sqlite:///dsadatabase.db'

81 rows affected.

++
||
++
++

In [18]:
%%sql
SELECT * FROM pacientes;

Running query in 'sqlite:///dsadatabase.db'

+-------------+---------+---------------+---------------+---------+------+--------------------------+-----+---------+
| Pregnancies | Glucose | BloodPressure | SkinThickness | Insulin | BMI  | DiabetesPedigreeFunction | Age | Outcome |
+-------------+---------+---------------+---------------+---------+------+--------------------------+-----+---------+
|      2      |   197   |       70      |       45      |   543   | 30.5 |          0.158           |  53 |    1    |
|      8      |   125   |       96      |       0       |    0    |  0   |          0.232           |  54 |    1    |
|      10     |   139   |       80      |       0       |    0    | 27.1 |          1.441           |  57 |    0    |
|      1      |   189   |       60      |       23      |   846   | 30.1 |          0.398           |  59 |    1    |
|      5      |   166   |       72      |       19      |   175   | 25.8 |          0.587           |  51 |    1    |
|      11     |   143   |       94      |       33      |   146   | 36.6 |          0.254           |  51 |    1    |
|      13     |   145   |       82      |       19      |   110   | 22.2 |          0.245           |  57 |    0    |
|      5      |   109   |       75      |       26      |    0    |  36  |          0.546           |  60 |    0    |
|      4      |   111   |       72      |       47      |   207   | 37.1 |           1.39           |  56 |    1    |
|      9      |   171   |      110      |       24      |   240   | 45.4 |          0.721           |  54 |    1    |
+-------------+---------+---------------+---------------+---------+------+--------------------------+-----+---------+
Truncated to displaylimit of 10.

In [19]:
%%sql
ALTER TABLE pacientes
ADD perfil VARCHAR(10);

Running query in 'sqlite:///dsadatabase.db'

++
||
++
++

In [22]:
%%sql
UPDATE pacientes
SET perfil = 'Normal'
WHERE BMI < 30;

Running query in 'sqlite:///dsadatabase.db'

38 rows affected.

++
||
++
++

In [23]:
%%sql
UPDATE pacientes
SET perfil = 'Obeso'
WHERE BMI >= 30;

Running query in 'sqlite:///dsadatabase.db'

43 rows affected.

++
||
++
++

In [24]:
%%sql
SELECT * FROM pacientes;

Running query in 'sqlite:///dsadatabase.db'

+-------------+---------+---------------+---------------+---------+------+--------------------------+-----+---------+--------+
| Pregnancies | Glucose | BloodPressure | SkinThickness | Insulin | BMI  | DiabetesPedigreeFunction | Age | Outcome | perfil |
+-------------+---------+---------------+---------------+---------+------+--------------------------+-----+---------+--------+
|      2      |   197   |       70      |       45      |   543   | 30.5 |          0.158           |  53 |    1    | Obeso  |
|      8      |   125   |       96      |       0       |    0    |  0   |          0.232           |  54 |    1    | Normal |
|      10     |   139   |       80      |       0       |    0    | 27.1 |          1.441           |  57 |    0    | Normal |
|      1      |   189   |       60      |       23      |   846   | 30.1 |          0.398           |  59 |    1    | Obeso  |
|      5      |   166   |       72      |       19      |   175   | 25.8 |          0.587           |  51 |    1    | Normal |
|      11     |   143   |       94      |       33      |   146   | 36.6 |          0.254           |  51 |    1    | Obeso  |
|      13     |   145   |       82      |       19      |   110   | 22.2 |          0.245           |  57 |    0    | Normal |
|      5      |   109   |       75      |       26      |    0    |  36  |          0.546           |  60 |    0    | Obeso  |
|      4      |   111   |       72      |       47      |   207   | 37.1 |           1.39           |  56 |    1    | Obeso  |
|      9      |   171   |      110      |       24      |   240   | 45.4 |          0.721           |  54 |    1    | Obeso  |
+-------------+---------+---------------+---------------+---------+------+--------------------------+-----+---------+--------+
Truncated to displaylimit of 10.

In [25]:
arquivo_final = pd.read_sql("SELECT * FROM pacientes", cnn)

In [26]:
arquivo_final.to_csv('pacientes.csv', index=False)

In [27]:
cnn.close()